@page "/list"

@using MediatR
@using Thinning.Application.Test.Query.GetTestList
@using Thinning.Domain.Dao.Test

@inject IMediator _mediator

<h3>Details</h3>

<MatSelect Label="Size" @bind-Value="@size">
    <MatOption TValue="int" Value="5">5</MatOption>
    <MatOption TValue="int" Value="10">10</MatOption>
    <MatOption TValue="int" Value="15">15</MatOption>
    <MatOption TValue="int" Value="20">20</MatOption>
</MatSelect>

<MatTable Items="@items" class="mat-elevation-z5" ShowPaging="false">
    <MatTableHeader>
        <th>Test Id</th>
        <th>Status Code</th>
        <th>Avarage ExecutionTime</th>
    </MatTableHeader>
    <MatTableRow>
        <td>@context.TestId</td>
        <td>@context.ActivationStatusCode</td>
        <td>@context.AvarageExecutionTime</td>
    </MatTableRow>
</MatTable>

<span>@size</span>

@code {
    List<TestDto> items;
    int size;

    protected override async Task OnInitializedAsync()
    {
        
        var grid = await _mediator.Send(new GetTestListQuery());
        items = grid.List;
    }
}
